<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="x-apple-disable-message-reformating" />
    <meta name="format-detection" content="telephone=3Dno">
    <meta name=3D"format-detection" content=3D"email=3Dno" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html {
            display: flex;
            justify-content: center;
        }

        center {
            margin: 0 auto;
        }

        table {

            width: 700px;
            background-color: #272C33;
            border: solid 2px black;
        }

        .header {
            border-bottom: solid 1px #FFFFFF;
        }

        h1 {
            color: rgb(97, 218, 251);
            padding: 10px;
        }

        h2 {
            text-align: center;
        }

        h2,
        p {
            color: #FFFFFF;
        }

        p {
            text-align: justify;
            padding: 10px;
            line-height: 1.5;
            font-size: 14px;
        }

        .link {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px 0 10px 0;
        }

        .link div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60%;
            background-color: rgb(97, 218, 251);
            padding: 13px;
            border-bottom: solid 1px black;
        }

        .link a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            margin-left: 5px;
        }

        ._linkform {
            text-align: center;
            padding: 13px;
            border-top: solid 1px white;
        }

        ._linkform a {
            color: white;
        }

        @media screen and (max-width: 480px) {
            h1 {
                font-size: 48px !important;
                font-size: 18vw;
            }

            p,
            a {
                font-size: 8vw !important;
                font-size: 24px !important;
            }
        }
    </style>

</head>

<body>
    <center>
        <table cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td class="header">
                        <h1>HooksForm</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Bonjour {{ name }}</h2>
                    </td>
                </tr>
                <!--
            texte de bienvenue
            -->
                <tr>
                    <td>
                        <p>Tu as oublié ton mot de passe <br />
                            Pas de panique, clique sur le lien ci-dessous afin d'en créer un tout beau tout nouveau.</p>
                    </td>
                </tr>
                <!--
            Liens vers repos github
            -->

                <tr>
                    <td class="link">
                        <div >
          
                            <a href="http://localhost:4000/user/password/initialize/{{token}}">Réinitialiser mon mot de passe</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="_linkform">
                            <a href="#">Accéder aux formulaires</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</body>

</html>